{% extends "layout.html" %}
{% block content %}
    <div class="bg-light shadow p-4 mt-5 mb-5">
        <div class="text-center pt-3">
            <h1>Welcome to Junk.ai</h1>
        </div>
        <nav class="row">
            <div class="col-lg-6 p-3">
                <a class="lead text-center light-box p-4" href="{{ url_for('main.text') }}">
                    Junk Mail Detector
                </a>
            </div>
            <div class="col-lg-6 p-3">
                <a class="lead text-center light-box p-4" href="{{ url_for('main.image') }}">
                    Image Classifier
                </a>
            </div>
        </nav>
    </div>
{% endblock content %}
