{% extends "layout.html" %}
{% block content %}
    <div class="text-center">
        <h1>Welcome to Junk.ai</h1>
    </div>
    <div class="row">
        <div class="col-lg-6 p-3">
            <div class="text-center light-box p-4" onclick="window.location.href = '{{ url_for('main.text') }}'">
                <p class="lead">Junk Mail Detection</p>
            </div>
        </div>
        <div class="col-lg-6 p-3">
            <div class="text-center light-box p-4" onclick="window.location.href = '{{ url_for('main.image') }}'">
                <p class="lead">Image Recognition</p>
            </div>
        </div>
    </div>
{% endblock content %}