body {
	background: #E2EAF0;
	color: #333333;
	margin-top: 20px;

	font-family: 'Lora', serif;
}

h1, h2, h3, h4, h5, h6, table {
	font-family: 'Quicksand', sans-serif;
	color: #444444;
}

a, a:hover {
  color: inherit;
  text-decoration: none;
}

i {
  color: #010057;
  transition-property: color, text-shadow;
  transition-duration: 0.2s;
}

i:hover {
  color: #0200A9;
  text-shadow: 2px 2px 2px #B4B4B4;
}

.light-box {
  display: block;
  border-style: solid;
  border-width: 3px;
  border-color: #010057;
  border-radius: 5px;
  height: 100%;
  text-decoration: none;

  background-color: #010057;
  color: white;
	transition-property: background-color, color, transform;
	transition-duration: 0.2s;
}

.light-box:hover {
  cursor: pointer;

	background-color: #DAE8FE;
  color: black;
  transform: translateY(-2px);
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

td.with-bar {
    position: relative;
    padding-left: 0.5em;
    color: white;
    width: 100px;
}
td.with-bar::before {
    content: '';
    position: absolute;
    height: 100%;
    width: var(--width);
    background: steelblue;
    left: 0;
    top: 0;
}
td.image-label {
    font-weight: bold;
    padding-right: 1em;
}
td.confidence {
    text-align: center;
}

@media (min-width: 576px) {
  body {
    margin-top: 80px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 700px;
  }
}
